#gridPanel{
	width:480px;
	height:480px;
	margin:0 auto;
	background:#bbada0;
	border-radius:10px;
	position:relative;
}
.grid,.cell{
	width:100px;
	height:100px;
	border-radius:6px;
}
.grid{
	background:#ccc0b3;
	float:left;
	margin:16px 0 0 16px;
}
.cell{
	position:absolute;
	font-size:60px;
	text-align:center;
	line-height:100px;
	color:#fff;
}
[id^="c0"]{top:16px;}
[id^="c1"]{top:132px;}
[id^="c2"]{top:246px;}
[id^="c3"]{top:364px;}

[id$="0"]{left:16px;}
[id$="1"]{left:132px;}
[id$="2"]{left:246px;}
[id$="3"]{left:364px;}

.n2{background-color:#eee3da}
.n4{background-color:#ede0c8}
.n8{background-color:#f2b179}
.n16{background-color:#f59563}
.n32{background-color:#f67c5f}
.n64{background-color:#f65e3b}
.n128{background-color:#edcf72}
.n256{background-color:#edcc61}
.n512{background-color:#9c0}
.n1024{background-color:#33b5e5}
.n2048{background-color:#09c}
.n4096{background-color:#a6c}
.n8192{background-color:#93c}
.n2,.n4{color:#776e65}
.n1024,.n2048,.n4096,.n8192{font-size:40px}

p{
	width:480px;
	margin:0 auto;
	padding-top:15px;
	font-size:40px;
	font-weight:bold;
	font-family:Arial;
}

#gameOver{
	display:none;
	position:absolute; top:0;;left:0;
	width:100%; height:100%;
}
#gameOver>div{
	width:100%; height:100%;
	background:#555;opacity:0.5;
}
#gameOver>p{
	position:absolute;
	width:300px;height:200px;
	/*笔试题 如何用css把div在文档显示居中*/
	top:40%;left:40%;
	margin-top:-100px; margin-left:-150px;
	border:1px solid #edf72;
	border-radius:15px;
	line-height:1.5em;
	background-color:#fff;
	text-align:center;
}
#gameOver .btn{
	cursor:pointer;
	padding:10px; color:#fff;
	background-color:#9f8d77;
	border-radius:6px;
}